* {
  margin: 1%;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-size: larger;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: lighter;
  line-height: 200%;
  min-height: 100vh;
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  border: 2px hidden;
  /* border: hidden; */
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.wrapper div {
  border: 5px groove rgb(20, 56, 111);
  border-radius: 7rem;
  padding: 7px;
  text-align: center;
}

.Sunset {
  grid-column: 1/2;
}

.Flowers {
  grid-column: 2/3;
}

.Nature {
  grid-column: 3/4;
}

.ManMade {
  grid-column: 4/5;
}

.icons {
  border-radius: 50%;
}

.frame {
  padding: 10px;
  background-color: rgba(221, 216, 116, 0.391);
}

footer {
  text-align: center;
}
